<!-- /templates/cart.liquid -->

<form class="l-header-search">
  <input class="c-input--text" type="text" placeholder="ブランド・フリーワードで探す">
  <input type="submit" value="">
</form>
<div class="c-contents">
  {% include 'rishry-breadcrumbs' %}
  {% comment %} <div class="c-breadcrumb">
    <ul class="c-breadcrumb__list">
      <li class="c-breadcrumb__item"><a class="c-breadcrumb__link" href="/">TOP</a></li>
      <li class="c-breadcrumb__item"><span class="c-breadcrumb__text">カート</span></li>
    </ul>
  </div> {% endcomment %}
  <h1 class="c-heading--lv1">カートの確認</h1>
  <form action="{{ routes.cart_url }}" method="post" novalidate>
    {% if cart.item_count > 0 %}
      <div class="cart">
        <div class="cart__main">
          <ul class="cart-list">
            {% for item in cart.items %}
              <li class="cart-list__item">
                <div class="cart-list__img">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}"></div>
                <div class="cart-list__body">
                  <p class="cart-list__name">{{ item.product.title }}</p>
                  <p class="cart-list__info">サイズ：L<br>コンディション：A</p>
                  <div class="cart-list__qty">数量：<input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0"></div>
                  <p class="cart-list__price">{{ item.price | money }}</p>
                  <a class="cart-list__delete" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">削除</a>
                  {{ item.product.metafields.test.test }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
    
        <div class="cart__side">
          <dl class="cart__price">
            <dt>商品合計</dt>
            <dd>{{ cart.total_price | money }}</dd>
          </dl>
          <div class="cart__control">
            <button type="submit" name="update" class="c-button cart__update">カート情報更新</button>
            <button type="submit" name="checkout" class="c-button cart__checkout">購入手続きへ</button>
          </div>  
        </div>
      </div>
    {% else %}
      <div class="cart">
        <div class="cart__main">
          <p>現在カートには商品が入っていません</p>
        </div>
      </div>
    {% endif %}
  </form>
</div>
