{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<!--
<div class="c-contents">


<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
<div>{{ product.description }}</div>

</div>
-->
<div class="c-contents">
  {% include 'rishry-breadcrumbs' %}
  <div class="detail">
    <div class="detail-mv">
      <div class="detail-mv__slider js-slider">
        {% for image in product.images %}
          <div class="detail-mv__slide">
            <img class="detail-mv__img" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
          </div>
        {% endfor %}
      </div>
      <ul class="detail-mv__thumbs">
        {% for image in product.images %}
          <li class="detail-mv__thumb">
            <img class="detail-mv__img" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="detail-main">
      <h1 class="c-heading--lv1">{{ product.title }}</h1>
      <p class="detail-main__id">商品ID：{{ product.id }}</p>
      <p class="detail-main__price"><span>{{ current_variant.price | money }}</span><span>（税込）</span></p>
      <p class="detail-main__text">{{ product.description }}</p>

      <form action="/cart/add" method="post">
        <div class="detail-main__btns">
          <button class="c-button is-center" type="submit" name="add" id="AddToCart" data-add-to-cart>
            <span>add cart</span>
          </button>

          <a class="c-button is-center is-strong" href=""><span>すぐに購入</span></a>

<!--           <button type="submit" name="add" data-add-to-cart>
            <span data-add-to-cart-text>add cart</span>
          </button>
 -->        </div>
      </form>
      {{ product.metafields.info.info }}

      <!--
      <div class="detail-main__btns">
        <a class="c-button is-center" href=""><span>add cart</span></a>
        <a class="c-button is-center is-strong" href=""><span>すぐに購入</span></a>
      </div>
      -->
      <div class="detail-main__share">
        <p>この商品をシェアする</p>
      </div>
    </div>
  </div>
</div>
<script>
(() => {
  if (!document.querySelector('.pre-json')) return;
  class BuetifyPreJson {
    constructor(obj) {
      this.elms = document.querySelectorAll(`${obj.selector}`)
    }
    buetify() {
      [...this.elms].forEach(_elm => {
        const jsonText = _elm.textContent
        const jsonTextParse = JSON.parse(jsonText)
        _elm.textContent = JSON.stringify(jsonTextParse, null, 2)
      })
    }
    init() {
      this.buetify()
    }
  }
  const buetifyPreJson = new BuetifyPreJson({
    selector: '.pre-json',
  })
  buetifyPreJson.init()
})();
</script>
