{%- assign products_per_page = section.settings.products_per_page -%}
{%- paginate collection.products by products_per_page -%}

<style>
{% if section.settings.collection_image_text_color != blank %}
.boost-pfs-filter-collection-header-wrapper.boost-pfs-filter-collection-has-image .boost-pfs-filter-collection-description,
.boost-pfs-filter-collection-header-wrapper.boost-pfs-filter-collection-has-image .boost-pfs-filter-collection-description p,
.boost-pfs-filter-collection-header-wrapper.boost-pfs-filter-collection-has-image .boost-pfs-filter-collection-header {
  color: {{ section.settings.collection_image_text_color }};
}
{% endif %}

{% if section.settings.product_item_title_color != blank or section.settings.product_item_title_font_size != blank  %}
.boost-pfs-filter-product-item-title {
  {% if section.settings.product_item_title_color != blank %}
    color: {{ section.settings.product_item_title_color }};
  {% endif %}

  {% if section.settings.product_item_title_font_size != blank %}
    font-size: {{ section.settings.product_item_title_font_size }}px;
  {% endif %}
}
{% endif %}

{% if section.settings.product_item_vendor_color != blank or section.settings.product_item_vendor_font_size != blank  %}
.boost-pfs-filter-product-item-vendor {
  {% if section.settings.product_item_vendor_color != blank %}
    color: {{ section.settings.product_item_title_color }};
  {% endif %}
  
  {% if section.settings.product_item_vendor_font_size != blank %}
    font-size: {{ section.settings.product_item_vendor_font_size }}px;
  {% endif %}
}
{% endif %}
{% if section.settings.product_item_price_color != blank or section.settings.product_item_price_font_size != blank  %}
.boost-pfs-filter-product-item-price {
  {% if section.settings.product_item_price_color != blank %}
    color: {{ section.settings.product_item_price_color }};
  {% endif %}
  
  {% if section.settings.product_item_price_font_size != blank %}
    font-size: {{ section.settings.product_item_price_font_size }}px;
  {% endif %}
}
{% endif %}

{% if section.settings.product_item_old_price_color != blank %}
.boost-pfs-filter-product-item-price s {
    color: {{ section.settings.product_item_old_price_color }};
}
{% endif %}

{% if section.settings.product_item_sale_price_color != blank %}
.boost-pfs-filter-product-item-price .boost-pfs-filter-product-item-sale-price {
  color: {{ section.settings.product_item_sale_price_color }};
}
{% endif %}

{% if section.settings.product_item_des_color != blank or section.settings.product_item_des_font_size != blank %}
.boost-pfs-filter-product-item-list .boost-pfs-filter-des {
  {% if section.settings.product_item_des_color != blank %}
    color: {{ section.settings.product_item_des_color }};
  {% endif %}
  
  {% if section.settings.product_item_des_font_size != blank %}
    font-size: {{ section.settings.product_item_des_font_size }}px;
  {% endif %}
{% endif %}
</style>

<form class="l-header-search" action="/search" method="get" role="search">
  <input class="c-input--text" placeholder="ブランド・フリーワードで探す" type="search" name="q" value="{{ search.terms | escape }}">
  <button type="submit">search</button>
</form>


{%- comment -%} COLLECTION HEADER {%- endcomment -%}
<div class="boost-pfs-filter-collection-header-wrapper boost-pfs-filter-collection-image {% if section.settings.show_collection_image and collection.image %}boost-pfs-filter-collection-has-image{% endif %}" {% if section.settings.show_collection_image and collection.image %} style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});" {% endif %}>
  <div class="boost-pfs-container-default">
    <div class="boost-pfs-section-header">
      <h1 class="boost-pfs-filter-collection-header">
        <span role="text">
          {{ collection.title }}test
        </span>
      </h1>
      {%- if section.settings.show_collection_des and collection.description != blank -%}
      <div class="boost-pfs-filter-collection-description rte">
        {{ collection.description }}
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
{%- comment -%} END COLLECTION HEADER {%- endcomment -%}
{%- comment -%} TOOLBAR TOP MOBILE {%- endcomment -%}
<div class="boost-pfs-filter-toolbar-top-mobile">
  <div class="boost-pfs-filter-top-sorting boost-pfs-filter-top-sorting-mobile boost-pfs-filter-custom-sorting">{%- include 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
  <div class="boost-pfs-filter-tree-mobile-button">{%- include 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
</div>
{%- comment -%} END TOOLBAR TOP MOBILE {%- endcomment -%}
{%- comment -%} TOOLBAR {%- endcomment -%}
<div class="boost-pfs-filter-default-toolbar">
  <div class="boost-pfs-container-default boost-pfs-filter-default-toolbar-inner">
    <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-type">
      <div class="boost-pfs-filter-top-display-type">{%- include 'boost-pfs-filter-skeleton', width: 2 -%}</div>
    </div>
    <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count">
      <span class="boost-pfs-filter-total-product">{%- include 'boost-pfs-filter-skeleton', width: 1 -%}</span>
    </div>
    <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting">{%- include 'boost-pfs-filter-skeleton', width: 1 -%}</div>
  </div>
</div>
{%- comment -%} END TOOLBAR {%- endcomment -%}
<div class="boost-pfs-filter-wrapper-page">
  {% if section.settings.switch_layout_filter == 'switch_layout_filter_horizontal' %}
  <div class="boost-pfs-filter-tree-h-wrapper">
    <div class="boost-pfs-container-default">
      <div class="boost-pfs-filter-tree boost-pfs-filter-tree-h" data-is-desktop>
        {%- include 'boost-pfs-filter-skeleton', type: 'filter-tree-h' -%}
      </div>
    </div>
  </div>
  <div class="boost-pfs-container-default">
    <div class="boost-pfs-filter-refine-by-wrapper-h"></div>
  </div>
  <div class="boost-pfs-container-default">
    <div class="boost-pfs-filter-wrapper">
      <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile></div>
      <div class="boost-pfs-filter-products boost-pfs-filter-product-item-label-{{ section.settings.product_item_label_position }} boost-pfs-filter-product-item-{{ section.settings.swatch_color_display_type }} boost-pfs-filter-swatch-shape-{{ section.settings.swatches_color_shape}} boost-pfs-filter-product-item-text-alignment-{{ section.settings.text_alignment}}" data-bc-sort="{{ collection.default_sort_by }}">
        {%- for product in collection.products -%}
        {%- include 'boost-pfs-filter-product-item', product: product, display_type: section.settings.product_item_type -%}
        {%- endfor -%}
      </div>
      <div class="boost-pfs-filter-bottom-pagination boost-pfs-filter-bottom-pagination-default">
        {%- if paginate.pages > 1 -%}
        {%- include 'boost-pfs-filter-pagination' -%}
        {%- endif -%}
      </div>
      <div class="boost-pfs-filter-load-more"></div>
    </div>
  </div>
  {% else %}
  <div class="boost-pfs-filter-wrapper boost-pfs-container-default">
    <div class="boost-pfs-filter-left-col">
      <div class="boost-pfs-filter-refine-by-wrapper-v"></div>
      <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">{% include 'boost-pfs-filter-skeleton', type: 'filter-tree' %}</div>
    </div>
    <div class="boost-pfs-filter-right-col">
      <div class="boost-pfs-filter-products boost-pfs-filter-product-item-layout-{{ section.settings.product_item_layout }} boost-pfs-filter-product-item-label-{{ section.settings.product_item_label_position }} boost-pfs-filter-product-item-{{ section.settings.swatch_color_display_type }} boost-pfs-filter-swatch-shape-{{ section.settings.swatches_color_shape}} boost-pfs-filter-product-item-text-alignment-{{ section.settings.text_alignment}}" data-bc-sort="{{ collection.default_sort_by }}">
        {%- for product in collection.products -%}
        {%- include 'boost-pfs-filter-product-item', product: product, display_type: section.settings.product_item_type -%}
        {%- endfor -%}
      </div>
      <div class="boost-pfs-filter-bottom-pagination boost-pfs-filter-bottom-pagination-default">
        {%- if paginate.pages > 1 -%}
        {%- include 'boost-pfs-filter-pagination' -%}
        {%- endif -%}
      </div>
      <div class="boost-pfs-filter-load-more"></div>
    </div>
  </div>
  {% endif %}
  {%- comment -%} start-bc-most-popular-template {%- endcomment -%}
  <div class="boost-pfs-most-popular-products-wrapper boost-pfs-widget-slider-wrapper">
    <div class="boost-pfs-most-popular-products boost-pfs-widget-products owl-carousel"></div>
  </div>
  {%- comment -%} end-bc-most-popular-template {%- endcomment -%}
  {%- comment -%} start-bc-recently-viewed-template {%- endcomment -%}
  <div class="boost-pfs-recent-products-wrapper boost-pfs-widget-slider-wrapper">
    <div class="boost-pfs-recent-products boost-pfs-widget-products owl-carousel"></div>
  </div>
  {%- comment -%} end-bc-recently-viewed-template {%- endcomment -%}
</div>
{%- endpaginate -%}
<script>
// Declare boostPFSThemeConfig variable
var boostPFSThemeConfig = {
  label: {
    sorting_heading: {%- assign temp = 'collections.sorting.title' | t  -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Sorting" {%- endunless -%},
    sorting_best_selling: {%- assign temp = 'collections.sorting.best_selling' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Best Selling" {%- endunless -%},
    sorting_featured: {%- assign temp = 'collections.sorting.featured' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Featured" {%- endunless -%},
    sorting_manual: {%- assign temp = 'collections.sorting.manual' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Featured" {%- endunless -%},
    sorting_title_ascending: {%- assign temp = 'collections.sorting.az' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Alphabetically, A-Z" {%- endunless -%},
    sorting_title_descending: {%- assign temp = 'collections.sorting.za' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Alphabetically, Z-A" {%- endunless -%},
    sorting_price_ascending: {%- assign temp = 'collections.sorting.price_ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Lowest Price" {%- endunless -%},
    sorting_price_descending: {%- assign temp = 'collections.sorting.price_descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Highest Price" {%- endunless -%},
    sorting_created_ascending: {%- assign temp = 'collections.sorting.created_ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, Old to New" {%- endunless -%},
    sorting_created_descending: {%- assign temp = 'collections.sorting.created_descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, New to Old" {%- endunless -%},
    sorting_date_ascending: {%- assign temp = 'collections.sorting.date_ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, Old to New" {%- endunless -%},
    sorting_date_descending: {%- assign temp = 'collections.sorting.date_descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, New to Old" {%- endunless -%},
    sorting_sale_descending: {%- assign temp = 'collections.sorting.sale_descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "% Off" {%- endunless -%},
    sorting_relevance: {%- assign temp = 'collections.sorting.relevance' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Relevance" {%- endunless -%},
    toolbar_viewas: "View As",
    items_with_count_one: "product",
    items_with_count_other: "Products",
  },
  label_basic: {
    sale: {{ section.settings.sale_label | json }},
    sold_out: {{ section.settings.soldout_label | json }},
    from: {{ section.settings.from | json }},
  },
  custom: {
    products_per_page: {%- if products_per_page -%} {{ products_per_page | json }} {%- else -%} 24 {%- endif -%},
    products_per_row: {%- if section.settings.products_per_row -%} {{ section.settings.products_per_row }} {%- else -%} 3 {%- endif -%},
    products_per_row_mobile: {%- if section.settings.products_per_row_mobile -%} {{ section.settings.products_per_row_mobile }} {%- else -%} 2 {%- endif -%},
    show_vendor: {%- if section.settings.show_vendor -%} {{ section.settings.show_vendor | json }} {%- else -%} false {%- endif -%},
    show_price: {%- if section.settings.show_price -%} {{ section.settings.show_price | json }} {%- else -%} false {%- endif -%},
    show_sale_label: {%- if section.settings.show_sale_label -%} {{ section.settings.show_sale_label | json }} {%- else -%} false {%- endif -%},
    show_sold_out_label: {%- if section.settings.show_sold_out_label -%} {{ section.settings.show_sold_out_label | json }} {%- else -%} false {%- endif -%},
    active_image_swap: {%- if section.settings.active_image_swap -%} {{ section.settings.active_image_swap | json }} {%- else -%} false {%- endif -%},
    show_sorting: {%- if section.settings.show_sorting -%} {{ section.settings.show_sorting | json }} {%- else -%} false {%- endif -%},
    show_product_review: {%- if section.settings.show_product_review -%} {{ section.settings.show_product_review | json }} {%- else -%} false {%- endif -%},

    display_item_swatch: {%- if section.settings.display_item_swatch -%} {{ section.settings.display_item_swatch | json }} {%- else -%} false {%- endif -%},
    swatch_color_display_type: {%- if section.settings.swatch_color_display_type -%} {{ section.settings.swatch_color_display_type | json }} {%- else -%} false {%- endif -%},
    swatch_color_event_change_image: {%- if section.settings.swatch_color_event_change_image -%} {{ section.settings.swatch_color_event_change_image | json  }} {%- else -%} "none" {%- endif -%},
    swatches_color_shape: {%- if section.settings.swatches_color_shape -%} {{ section.settings.swatches_color_shape | json  }} {%- else -%} "circle" {%- endif -%},

    equal_height: {%- if section.settings.equal_height -%} {{ section.settings.equal_height | json }} {%- else -%} false {%- endif -%},
    ratio_width_height_other: {%- if section.settings.ratio_width_height_other -%} {{ section.settings.ratio_width_height_other | json }} {%- else -%} '' {%- endif -%},
    equal_height_crop_image_position: {%- if section.settings.equal_height_crop_image_position -%} {{ section.settings.equal_height_crop_image_position | json }} {%- else -%} "center" {%- endif -%},
    show_lable_by_tag: {%- if section.settings.show_lable_by_tag -%} {{ section.settings.show_lable_by_tag | json }} {%- else -%} false {%- endif -%},
    product_item_type: {%- if section.settings.product_item_type -%} {{ section.settings.product_item_type | json }} {%- else -%} "grid" {%- endif -%}
  }
};

// Declare Templates
var boostPFSTemplate = {
  'soldOutClass': ' sold-out',
  'saleClass': ' on-sale',
  'soldOutLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' -%},
  'saleLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'saleLabelHtml' -%},
  'tagLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'tagLabelHtml' -%},
  'vendorHtml': {%- render 'boost-pfs-filter-html', layout: 'vendorHtml' -%},
  // Grid Template
  'productGridItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productGridItemHtml' -%},
  // For List View
  // List Template
  'productListItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productListItemHtml' -%},
  // End For List View
  'productListPlaceholderHtml': {%- render 'boost-pfs-filter-html', layout: 'productListPlaceholderHtml' -%},
  // Pagination Template
  'previousActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'previousActiveHtml' -%},
  'previousDisabledHtml': {%- render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' -%},
  'nextActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'nextActiveHtml' -%},
  'nextDisabledHtml': {%- render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' -%},
  'pageItemHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemHtml' -%},
  'pageItemSelectedHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' -%},
  'pageItemRemainHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' -%},
  'paginateHtml': {%- render 'boost-pfs-filter-html', layout: 'paginateHtml' -%},
  // Sorting Template
  'sortingHtml': {%- render 'boost-pfs-filter-html', layout: 'sortingHtml' -%},
  // Show Limit Template
  'showLimitHtml': {%- render 'boost-pfs-filter-html', layout: 'showLimitHtml' -%},
  // Breadcrumb Template
  'breadcrumbHtml': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' -%},
  'breadcrumbDivider': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' -%},
  'breadcrumbItemLink': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' -%},
  'breadcrumbItemSelected': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' -%},
};
</script>

{% schema %}
 {
  "name": "Collection pages",
  "settings": [
    {
      "type": "header",
      "content": "For Filter"
    },
    {
      "type": "radio",
      "id": "switch_layout_filter",
      "label": "Switch Layout Filter",
      "options": [
      {
        "value": "switch_layout_filter_vertical",
        "label": "Vertical Filter"
      },
      {
        "value": "switch_layout_filter_horizontal",
        "label": "Horizonal Filter"
      }],
      "default": "switch_layout_filter_vertical"
    },

    {
      "type": "header",
      "content": "Collection Image"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show Collection Image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_des",
      "label": "Show Collection Description",
      "default": true
    },
    {
      "type": "color",
      "id": "collection_image_text_color",
      "label": "Collection Header Color"
    },
    {
      "type": "header",
      "content": "Product List"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 24
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row on Desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "products_per_row_mobile",
      "label": "Products per row on Mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "header",
      "content": "Product Item"
    },
    {
      "type": "select",
      "id": "product_item_type",
      "label": "Product Item Type",
      "options": [
      {
        "value": "grid",
        "label": "Grid"
      },
      {
        "value": "list",
        "label": "List"
      }],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "product_item_layout",
      "label": "Product Item Layout",
      "options": [
      {
        "value": "no-border",
        "label": "No Border (Default)"
      },
      {
        "value": "border-no-padding",
        "label": "Border No Padding"
      },
      {
        "value": "border-no-padding-img",
        "label": "Border No Padding Image"
      },
      {
        "value": "border-has-padding",
        "label": "Border Has Padding"
      }],
      "default": "no-border",
      "info": "Use this setting for Product type Grid"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "center",
        "label": "Center"
      },
      {
        "value": "right",
        "label": "Right"
      }],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "active_image_swap",
      "label": "Active image swap",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sorting",
      "label": "Enable collection sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_review",
      "label": "Show product review",
      "default": false,
      "info": "Use this setting when store has product reviews integration"
    },
    {
      "type": "header",
      "content": "Product Item Label"
    },
    {
      "type": "select",
      "id": "product_item_label_position",
      "label": "Product Label Position",
      "default": "center",
      "options": [
      {
        "value": "top_left",
        "label": "Top Left"
      },
      {
        "value": "top_right",
        "label": "Top Right"
      },
      {
        "value": "bottom_left",
        "label": "Bottom Left"
      },
      {
        "value": "bottom_right",
        "label": "Bottom Right"
      }],
      "default": "top_left"
    },
    {
      "type": "checkbox",
      "id": "show_sold_out_label",
      "label": "Show sold out label",
      "default": true
    },
    {
      "type": "text",
      "id": "soldout_label",
      "label": "Sold Out Label",
      "default": "Sold out"
    },
    {
      "type": "checkbox",
      "id": "show_sale_label",
      "label": "Show sale label",
      "default": true
    },
    {
      "type": "text",
      "id": "sale_label",
      "label": "Sale Label",
      "default": "Sale"
    },
    {
      "type": "text",
      "id": "from",
      "label": "From",
      "default": "from"
    },
    {
      "type": "checkbox",
      "id": "show_lable_by_tag",
      "label": "Enable the Custom Label By Tag",
      "default": false,
      "info": "Please refer [this link](https:\/\/help.boostcommerce.net\/article\/475-how-to-create-custom-label-by-tag-in-the-default-theme) to create a Custom Label By Tag!"
    },
    {
      "type": "header",
      "content": "Product Item Title"
    },
    {
      "type": "color",
      "id": "product_item_title_color",
      "label": "Title",
      "default": "#3d4246"
    },
    {
      "type": "range",
      "id": "product_item_title_font_size",
      "label": "Product Item Title - Font Size",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 14,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Product Item Vendor"
    },
    {
      "type": "color",
      "id": "product_item_vendor_color",
      "label": "Vendor",
      "default": "#969595"
    },
    {
      "type": "range",
      "id": "product_item_vendor_font_size",
      "label": "Product Item Vendor - Font Size",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 12,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Product Item Price"
    },
    {
      "type": "color",
      "id": "product_item_price_color",
      "label": "Price",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "product_item_old_price_color",
      "label": "Old Price",
      "default": "#969595"
    },
    {
      "type": "color",
      "id": "product_item_sale_price_color",
      "label": "Sale Price",
      "default": "#f30000"
    },
    {
      "type": "range",
      "id": "product_item_price_font_size",
      "label": "Product Item Price - Font Size",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 14,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Product Item Description"
    },
    {
      "type": "color",
      "id": "product_item_des_color",
      "label": "Sale Price",
      "default": "#3a3a3a"
    },
    {
      "type": "range",
      "id": "product_item_des_font_size",
      "label": "Product Item Description - Font Size",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 14,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Swatch Color"
    },
    {
      "type": "checkbox",
      "id": "display_item_swatch",
      "label": "Enable Display Item Swatch",
      "default": true
    },
    {
      "type": "radio",
      "id": "swatch_color_display_type",
      "label": "Display Type",
      "options": [
      {
        "value": "swatch_color_display_type_color",
        "label": "Color"
      },
      {
        "value": "swatch_color_display_type_image_color",
        "label": "Color Image"
      },
      {
        "value": "swatch_color_display_type_image_product",
        "label": "Product Image"
      }],
      "default": "swatch_color_display_type_image_product",
      "info": "Please refer [this link](https:\/\/help.boostcommerce.net\/article\/417-how-to-config-the-product-item-layout-in-our-default-theme#a5) about 3 display types of Color swatches!"
    },
    {
      "type": "radio",
      "id": "swatch_color_event_change_image",
      "label": "Change Image When Hovering swatch icon",
      "options": [
      {
        "value": "none",
        "label": "None"
      },
      {
        "value": "hover",
        "label": "Hover"
      },
      {
        "value": "click",
        "label": "Click"
      }],
      "default": "hover"
    },
    {
      "type": "radio",
      "id": "swatches_color_shape",
      "label": "Swatch shape",
      "options": [
      {
        "value": "circle",
        "label": "Circle"
      },
      {
        "value": "square",
        "label": "Square"
      }],
      "default": "circle"
    },

    {
      "type": "header",
      "content": "Equal Height"
    },
    {
      "type": "select",
      "id": "equal_height",
      "label": "Product image aspect ratio (Width x Height)",
      "options": [
      {
        "value": "false",
        "label": "Disabled"
      },
      {
        "value": "1:1",
        "label": "Square (1:1)"
      },
      {
        "value": "2:3",
        "label": "Portrait (2:3)"
      },
      {
        "value": "4:3",
        "label": "Landscape (4:3)"
      },
      {
        "value": "other",
        "label": "Manual ratio below"
      }],
      "default": "false",
      "info": "For best results [all product photos should be the same ratio](https:\/\/help.shopify.com\/manual\/productivity-tools\/image-editor#image-aspect-ratio)."
    },
    {
      "type": "text",
      "id": "ratio_width_height_other",
      "label": "Example: 6:7",
      "info": "If the ratios above is not suitable for your store, could you please enter your aspect ratio (Width x Height) in the form below?"
    },
    {
      "type": "select",
      "id": "equal_height_crop_image_position",
      "label": "Equal Height Crop Image Position",
      "options": [
      {
        "value": "top",
        "label": "Top"
      },
      {
        "value": "center",
        "label": "Center"
      },
      {
        "value": "bottom",
        "label": "Bottom"
      }],
      "default": "center"
    }
  ]
}
{% endschema %}
